@font-face {
    font-family: 'Amble-FontFaceKit';
    src: url(./fonts/amble-fontfacekit/webfonts/amble_regular_macroman/Amble-Regular-webfont.eot) format('eot'),
         url(./fonts/amble-fontfacekit/webfonts/amble_regular_macroman/Amble-Regular-webfont.woff) format('woff'),
         url(./fonts/amble-fontfacekit/webfonts/amble_regular_macroman/Amble-Regular-webfont.ttf) format('truetype'),
         url(./fonts/amble-fontfacekit/webfonts/amble_regular_macroman/Amble-Regular-webfont.svg) format('svg');
}

html {
    font-family: 'Amble-FontFaceKit', Arial, Helvetica, sans-serif;
}

body {
    background-color: #cfe2dd;
}

header {
    display:grid;
    grid-template-columns: auto min-content;
}

.header__maPhoto img {
    display: block;
}

.header__name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/jungle.jpeg);
    text-align: center;
    font-size: 30px;

}

.header__name h1 {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 50px auto;
}

.liseret {
    background: url("images/jungle.jpeg")repeat;
    
}

/* .menu {
    display:flex;
    justify-content: space-around;
    background-color: #416365;
    padding:3px 0px 3px 0px;
} */


.menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: #416365;
    padding:3px 0px 3px 0px;
    border: 1px #416365 outset;
    box-shadow: 6px 6px 6px #416365;

}

.menu a{
    color:#cfe2dd;
}

.section__titre {
    color:#416365;
    text-align: center;
    text-transform: uppercase;

}

.main {
    margin: 15px; 
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.section__text {
    text-align: justify;
}

.section__list {
    text-decoration: underline #416365;
}

@media screen and (max-width: 1280px) {
    .grid{
        grid-template-columns: auto;
    }
    .liseret {
        background:none;
        display:none;
    }
    .main {
        display:flex;
        flex-direction: column;
    }


}




