/*Font-family: hind Guntur, sans-serif*/
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur&display=swap');


.bloc_page {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

aside {
    position: relative;
    width: 100%;
}

.image__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    position: fixed;
    background-image: url('images/backgroundmainnb.png');
    background-size: auto;
    background-position: 71% 57%;
    background-repeat: no-repeat;
    padding: 10px;
    box-sizing: border-box;
}

.image__menu {

}

.image__background {
    background-image: url('images/imagemanegenb.jpeg');
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: 5px solid white;
    
}

.image__background:hover {
    background-image: url("images/logo.png");
}

.image__network {

}

.main__section:nth-child(odd) {
    background-color:#dedede;
}


.main__section {
    padding: 40px;
}

.expertise__contain {
    display: grid;
    grid-template-columns: auto;
    text-align: justify;
}

.expertise__column1 {
    display: flex;
    flex-direction: row;
    
}

.expertise__column2 {
    display: flex; 
    flex-direction: row;
}

h2 {
    color: #777777;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
}